<template>
  <tr>
    <td>{{ employee.name }}</td>
    <employee-month :employeeId="employee.id"
            :month="1"
    				:assigns="employee.assigns.m1"
    >					
	  </employee-month>
  </tr>
</template>

<script>
import EmployeeMonth from '@/components/Assign/EmployeeMonth'

export default {
  props: ['employee'],
  components: {
    'employee-month': EmployeeMonth
  },
  methods: {
    newAssign: function (month) {
      alert(month)
    }
  }
}
</script>

<style scoped>

</style>
