<template>
  <td>
    <div class="employee-month">
      <ul v-if="true" class="month-projects">
        <li v-for="assign in assigns">
          <span class="assign-percent">{{ assign.percent }}</span>
          <div class="assign-title">{{ assign.project }}</div>
        </li>
      </ul>
      <button class="assign-button" :class="classBtn" @click="newAssign">
        {{ textBtn }}
        <span>{{ total }}</span>
      </button>
    </div>
  </td>
</template>

<script>
import { EventBus } from '../../EventBus'

export default {
  props: ['assigns', 'employeeId', 'month'],
  computed: {
    // Calcula la suma de las asignaciones en el mes
    total: function () {
      let sum = this.assigns.reduce((sum, assign) => sum + assign.percent, 0)
      return Math.round(sum * 10) / 10
    },
    // Muestra texto de asignar o asignacion completa
    textBtn: function () {
      if (this.total > 1.0) {
        return 'Error > 1'
      }

      if (this.total === 1.0) {
        return 'Completa'
      }

      return 'Agregar'
    },
    // Clase del boton dependiendo su estado de asignacion
    classBtn: function () {
      if (this.total === 0.0) {
        return 'red clickable'
      }

      if (this.total < 1.0) {
        return 'yellow clickable'
      }

      if (this.total === 1.0) {
        return 'green'
      }

      return 'red'
    }
  },
  methods: {
    newAssign: function () {
      if (this.total >= 1.0) {
        return false
      }

      EventBus.$emit('new-assign', this.employeeId, this.month)
    }
  }
}
</script>

<style>
.employee-month {
  width: 200px;
}

.month-projects {
  padding: 0;
  height: 55px;
  overflow-y: auto;
  list-style-type: none;
}

.month-projects > li {
  width: 100%;
}

.assign-title {
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assign-percent {
  width: 30px;
  text-align: center;
  float: right;
  background: #595959;
  font-weight: bolder;
  color: white;
}

.assign-button {
  display: inline-block;
  padding: 0;
  font-weight: bolder;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: #fff !important;
  width: 200px;
  font-size: 100%;
}

.clickable {
  cursor: pointer;
}

.assign-button span {
  width: 30px;
  text-align: center;
  float: right;
  background: #595959;
  font-weight: bolder;
  color: white;
}

button:focus {
  outline: 0;
}

.assign-button.green {
  background-color: #99C24D !important;
}
.assign-button.yellow {
  background-color: #EEBA0B !important;
}
.assign-button.red {
  background-color: #BF3100 !important;
}
</style>
