<template>
  <table class="assign-table">
  	<thead>
  		<tr>
  			<th>Empleado</th>
  			<th>Enero</th>
  		</tr>
  	</thead>
	<tbody>
		<employee-row v-for="employee in employees" 
									:employee="employee" 
									:key="employee.id">							
		</employee-row>
	</tbody>
  </table>
</template>

<script>
import EmployeeRow from '@/components/Assign/EmployeeRow'

export default {
  components: {
    'employee-row': EmployeeRow
  },
  props: ['employees']
}
</script>

<style>
.assign-table {
    border-collapse: collapse;
}

.assign-table th {
    text-align: center;
}

.assign-table td {
    text-align: left;
}

.assign-table tr:nth-child(even) {background-color: #f2f2f2}
.assign-table tbody > tr:hover {background-color: #99e6ff}

</style>
