<template>
  <div>
    <hc-table :employees="employees"></hc-table>
    <assign-modal></assign-modal>
  </div>
</template>

<script>
import HCTable from '@/components/Assign/HCTable'
import AssignModal from '@/components/Assign/AssignModal'
import { EventBus } from '../EventBus'

export default {
  components: {
    'hc-table': HCTable,
    'assign-modal': AssignModal
  },
  data () {
    return {
      employees: employeesTemp
    }
  },
  methods: {
    createAssign: function (employeeId, month) {
      console.log(employeeId, month)
    }
  },
  created: function () {
    EventBus.$on('new-assign', this.createAssign)
  }
}

var employeesTemp = [
  {
    id: 1,
    name: 'Martín Rodríguez Niño',
    assigns: {
      'm1': [
        { id: 1, project: 'Mabe', percent: 0.5 },
        { id: 2, project: 'Niro', percent: 0.3 },
        { id: 5, project: 'Dreamz', percent: 0.2 }
      ]
    }
  },
  {
    id: 2,
    name: 'Carolina Padilla Gutiérrez',
    assigns: {
      'm1': [
        { id: 3, project: 'Carol Accesorios y mucho más', percent: 0.5 },
        { id: 4, project: 'Grupo Tress', percent: 0.2 }
      ]
    }
  },
  {
    id: 3,
    name: 'Paola Rodríguez Niño',
    assigns: {
      'm1': []
    }
  }
]
</script>

<style scoped>

</style>
